body{
    background-color: rgb(56, 122, 144);
    font-family: Arial;
}

.container{
    background-color: rgb(22, 93, 246);
    width: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.title{
    text-align: center;
    color: darkblue;
}

.label{
    color: black;
}

.input{
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

.select select{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.button{
    margin-top: 10px;
}